.box {
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 40%;
    background: grey;
    width: 200px;
    text-align: center;
}

h3, h4 {
    color: #000;
}

.cofbox {
    margin: 20% auto auto auto;
    background: grey;
    width: 300px;
    text-align: center;
}
.deletebtns {
    padding: 1em;
    margin: auto;
}
#createbtn{
    margin-top: 10%;
}
input {
    height: 50px;
    width: 150px;
}
