body {
    margin: auto;
    margin-top: 6rem;
    max-width: 400px
}
#topname {
    text-align: center;
    background: white;
    border: 1px solid #000;
    border-radius: 25px;
}
#review {
    background: white;
    border: 1px solid #000;
    border-radius: 25px;
}
#description {
    background: white;
    border: 1px solid #000;
}
#writereview {
    background: white;
    border: 1px solid #000;
    border-radius: 25px;
}
#coffeereview img {
    height: 400px;
    width: 400px;
    border: 3px solid #000;
    border-radius: 25px;
}
hr {
    opacity: 0;
}
.butn {
    margin-left: 9.2rem;
}
